<div class="text-center">
  <h1>Список реалізованих алгоритмів:</h1>
  <p>Шифр зсуву та простої заміни для латинського та українсього алфавітів</p>
  <p>Частотні таблиці для української та англійської мов</p>
  <p>Алгоритм дешифрування шифру зсуву та простої заміни на основі частотного аналізу</p>
  <p>Шифр Віженера для латинського та українсього алфавітів</p>
  <p>RSA з використанням бінарного алгоритму піднесення до степеня за модулем</p>
  <p>Протокол обміну ключами Діффі-Гелмана</p>
</div>
