<div class="text-center">
  <h1>Список реалізованих алгоритмів:</h1>
  <p>
    <%= link_to 'Шифр зсуву для латинського та українсього алфавітів',
                ceaser_cipher_index_path %>
  </p>
  <p>
    <%= link_to 'Частотні таблиці для української та англійської мов', frequency_analysis_index_path %>
  </p>
  <p>Алгоритм дешифрування шифру зсуву та простої заміни на основі частотного аналізу</p>
  <p>Шифр Віженера для латинського та українсього алфавітів</p>
  <p>RSA з використанням бінарного алгоритму піднесення до степеня за модулем</p>
  <p>Протокол обміну ключами Діффі-Гелмана</p>
</div>
